* {
    box-sizing: border-box;  
                                                         
  }
  
  h3 {
    text-align: center;
    font-family: cursive;
    font-weight: bold;
  }
  
  #apple {
    float:right;
    font-size: 34px;
    background-color:grey;
    position: absolute;
    clear: left;
    padding: 13px 41px 7px;
    top: 0;
    right: 0;
    margin-top: 0px;
  }

  body{
    background-color: bisque; 
  }
  
  
  #mango {
    font-size: 34px;
    background-color:brown;
    float: right;
    position: absolute;
    clear: left;
    padding: 13px 41px 7px;
    top: 0;
    right: 0;
    margin-top: 0px;
  }
  
  #watermelon {
    font-size: 34px;
    background-color: #cd8538;
    float: right;
    position: absolute;
    clear: left;
    padding: 13px 41px 7px;
    top: 0;
    right: 0;
    margin-top: 0px;
  }
  
  p {
    border: 2px solid black;
  }
  div .col-lg-4{
  position: relative;
  padding-top: 20px;
  
  }
  section{
  padding: 40px 15px 15px;
  margin: 16px 0px;
  }
  
  
  /* for windows view */
  @media(min-width: 992px){
      .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
          float: left;
      }
      .col-lg-1 {
          width: 8.33%;
        }
      .col-lg-2 {
          width: 16.66%;
        }
      .col-lg-3 {
            width: 25%;
        }
      .col-lg-4{
          float: left;
          border: 4px solid black;
          width: 32%;
          margin: 5px;
          background-color:#853352;   
      }
      .col-lg-5 {
          width: 41.66%;
        }
        .col-lg-6 {
          width: 50%;
        }
        .col-lg-7 {
          width: 58.33%;
        }
        .col-lg-8 {
          width: 66.66%;
        }
        .col-lg-9 {
          width: 74.99%;
        }
        .col-lg-10 {
          width: 83.33%;
        }
        .col-lg-11 {
          width: 91.66%;
        }
        .col-lg-12 {
          width: 100%;
        }
  }
  /* tablet view */
  @media(min-width:768px) and (max-width:991px){
  .col-mg-1,.col-mg-2,.col-mg-3,.col-mg-4,.col-mg-5,.col-mg-6,.col-mg-7,.col-mg-8,.col-mg-9,.col-mg-10,.col-mg-11,.col-mg-12{
      float: left;
     }
      .col-mg-1{
          width: 8.33%;
  }
  .col-mg-2{
      width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-mg-4 {
    width: 33.33%;
  }
  .col-mg-5 {
    width: 41.66%;
  }
  .col-mg-6{
      float: left;
      border: 2px solid black;
      width: 48%;
      background-color: #853352;
      
    
      margin: 1%;
      padding: 1%;
  }
  .col-mg-7 {
      width: 58.33%;
    }
    .col-mg-8 {
      width: 66.66%;
    }
    .col-mg-9 {
      width: 74.99%;
    }
    .col-mg-10 {
      width: 83.33%;
    }
    .col-mg-11 {
      width: 91.66%;
    }
    .col-mg-12 {
      margin: 1%;
      padding: 1%;
      background-color:  #853352;
      border: 2px solid black;
      widows: 92%;
    }
  
  }
  @media (max-width:767px){
      .col-sg-1,.col-sg-2,.col-sg-3,.col-sg-4,.col-sg-5,.col-sg-6,.col-sg-7,.col-sg-8,.col-sg-9,.col-sg-10,.col-sg-11,.col-sg-12{
          float: left;
         }
      .col-sg-1{
              width: 8.33%;
      }
      .col-sg-2{
          width: 16.66%;
      }
      .col-sg-3 {
        width: 25%;
      }
      .col-sg-4 {
        width: 33.33%;
      }
      .col-sg-5 {
        width: 41.66%;
      }
      .col-sg-6{
          width: 50%;
      }
      .col-sg-7 {
          width: 58.33%;
      }
        .col-sg-8 {
          width: 66.66%;
        }
        .col-sg-9 {
          width: 74.99%;
        }
        .col-sg-10 {
          width: 83.33%;
        }
        .col-sg-11 {
          width: 91.66%;
        }
        .col-sg-12 {
          float: left;
          border: 2px solid black;
          width: 100%;
          background-color: #853352;   
        
          margin: 5px;
          padding: 1%;
        }
      
  }
      
  
